  {{#if profile_id}}
<div id="sideBarId" class="sideBar bg-gray-800" onclick="toggleSidebar()" onmouseover="toggleSidebar()"
  onmouseout="toggleSidebar()">
  {{!-- <a href="javascript:void(0)" class="closebtn" onclick="togleNav()">&times;</a> --}}
  <a href="/profile/{{profile_id}}"><span><i class="icon fa-solid fa-address-card"></i><span class="icon-text">My
        Profile</span></a>
  <a href="/update/profile/"><i class="icon fa-solid fa-id-card-clip"></i><span class="icon-text"></span>Update
    Profile</a></span>
  <a href="/createtour"><i class="icon fa-solid fa-pen-to-square"></i><span class="icon-text"></span>Create
    Tour</a></span>
  <a href="/creatememos"><i class="icon fa-solid fa-pen-to-square"></i><span class="icon-text"></span>Create Memos</a></span>
  <a href="/tours"><i class="icon fa-solid fa-mountain-sun"></i><span class="icon-text"></span>Tours</a></span>

</div>
<script src="https://kit.fontawesome.com/99be4809d8.js" crossorigin="anonymous"></script>
<script src="/js/sideBar.js"></script>
  {{/if}}