<section>   
<article class="small-title" id="{{id}}">
    <p>{{title}} </p>
{{!-- {{description}} --}}
    <p class="hide">
    {{#each users as |user|}}
    {{user_name}}
{{/each}}
    </p>
</article>
</section>