<div class="mb-16">
   <dh-component>
      <div class="container flex justify-center mx-auto pt-16">
         <div>
            <p class="text-gray-500 text-lg text-center font-normal pb-3"><span class="text-green-600">TRAVELMATE</span>
               TEAM</p>
            <h1 class="xl:text-4xl text-3xl text-center text-gray-800 font-extrabold pb-6 sm:w-4/6 w-5/6 mx-auto">The
               Talented People Behind the Scenes of this Organization</h1>
         </div>
      </div>
      <div class="w-full bg-gray-100 px-10 pt-10">
         <div class="container mx-auto">
            <div role="list" aria-label="Behind the scenes People "
               class="lg:flex md:flex sm:flex items-center xl:justify-between flex-wrap md:justify-around sm:justify-around lg:justify-around">
               <div role="listitem"
                  class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5">
                  <div class="rounded overflow-hidden shadow-md bg-white">
                     <div class="absolute -mt-20 w-full flex justify-center">
                        <div class="h-32 w-32">
                           <img src="/assets/images/tonyPic.jpeg" alt="Display Picture of Anthony Xavier" role="img"
                              class="rounded-full object-cover h-full w-full shadow-md" />
                        </div>
                     </div>
                     <div class="px-6 mt-16">
                        <h1 class="font-bold text-3xl text-center mb-1">Anthony <span
                              class="text-green-600">Xavier</span></h1>
                        <p class="text-gray-800 text-sm text-center">Full-Stack Developer</p>
                        <p class="text-center text-gray-600 text-base pt-3 font-normal">I worked primarily on front-end
                           aspects of the website like the homepage, infopage and this page!</p>
                        <p class="text-center text-gray-600 text-base pt-3 font-normal">Favorite Travel Spot: Grand
                           Canyon</p>
                        <div class="w-full flex justify-center pt-5 pb-5">
                           <a href="https://github.com/axavier1" class="mx-5">
                              <div aria-label="Github" role="img">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="rgb(150, 162, 177)" stroke-linejoin="round" class="feather feather-github">
                                    <path
                                       d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                    </path>
                                 </svg>
                              </div>
                           </a>
                           <a href="" class="mx-5">
                              <div aria-label="Twitter" role="img">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="rgb(150, 162, 177)" stroke-linejoin="round" class="feather feather-twitter">
                                    <path
                                       d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                    </path>
                                 </svg>
                              </div>
                           </a>
                           <a href="https://www.linkedin.com/in/anthonyxavier1/" class="mx-5">
                              <div aria-label="LinkedIn" role="img">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"
                                    fill="rgb(150, 162, 177)" class="feather feather-linkedin">
                                    <path
                                       d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z">
                                    </path>
                                 </svg>
                              </div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div role="listitem"
                  class="xl:w-1/3 lg:mx-3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5">
                  <div class="rounded overflow-hidden shadow-md bg-white">
                     <div class="absolute -mt-20 w-full flex justify-center">
                        <div class="h-32 w-32">
                           <img src="/assets/images/mykhaportrait.jpg" alt="Display Picture of Mykhalio Zakhariv"
                              role="img" class="rounded-full object-cover h-full w-full shadow-md" />
                        </div>
                     </div>
                     <div class="px-6 mt-16">
                        <h1 class="font-bold text-3xl text-center mb-1">Mykhalio <span
                              class="text-green-600">Zakhariv</span></h1>
                        <p class="text-gray-800 text-sm text-center">Full-Stack Developer</p>
                        <p class="text-center text-gray-600 text-base pt-3 font-normal">I worked on the databases and
                           tours functionality, as well as the profile page!</p>
                        <p class="text-center text-gray-600 text-base pt-3 font-normal">Favorite Travel Spot: Canalside
                        </p>
                        <div class="w-full flex justify-center pt-5 pb-5">
                           <a href="https://github.com/MykhailoZakh" class="mx-5">
                              <div aria-label="Github" role="img">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="rgb(150, 162, 177)" stroke-linejoin="round" class="feather feather-github">
                                    <path
                                       d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                    </path>
                                 </svg>
                              </div>
                           </a>
                           <a href="javascript:void(0)" class="mx-5">
                              <div aria-label="Twitter" role="img">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="rgb(150, 162, 177)" stroke-linejoin="round" class="feather feather-twitter">
                                    <path
                                       d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                    </path>
                                 </svg>
                              </div>
                           </a>
                           <a href="javascript:void(0)" class="mx-5">
                              <div aria-label="LinkedIn" role="img">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"
                                    fill="rgb(150, 162, 177)" class="feather feather-linkedin">
                                    <path
                                       d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z">
                                    </path>
                                 </svg>
                              </div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div role="listitem"
                  class="xl:w-1/3 sm:w-3/4 md:w-2/5 relative mt-16 mb-32 sm:mb-24 xl:max-w-sm lg:w-2/5">
                  <div class="rounded overflow-hidden shadow-md bg-white">
                     <div class="absolute -mt-20 w-full flex justify-center">
                        <div class="h-32 w-32">
                           <img src="/assets/images/mustapha.jpeg"
                              alt="Display Picture of Johnson Stone" role="img"
                              class="rounded-full object-cover h-full w-full shadow-md" />
                        </div>
                     </div>
                     <div class="px-6 mt-16">
                        <h1 class="font-bold text-3xl text-center mb-1">Mustapha <span
                              class="text-green-600">Kromah</span></h1>
                        <p class="text-gray-800 text-sm text-center">Full-Stack Developer</p>
                        <p class="text-center text-gray-600 text-base pt-3 font-normal">I worked on the back-end
                           elements, such as the routes and creating the memories functionality!</p>
                        <p class="text-center text-gray-600 text-base pt-3 font-normal">Favorite Travel Spot: Montego
                           Bay</p>
                        <div class="w-full flex justify-center pt-5 pb-5">
                           <a href="https://github.com/staph103" class="mx-5">
                              <div aria-label="Github" role="img">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="rgb(150, 162, 177)" stroke-linejoin="round" class="feather feather-github">
                                    <path
                                       d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                    </path>
                                 </svg>
                              </div>
                           </a>
                           <a href="javascript:void(0)" class="mx-5">
                              <div aria-label="Twitter" role="img">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="rgb(150, 162, 177)" stroke-linejoin="round" class="feather feather-twitter">
                                    <path
                                       d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                                    </path>
                                 </svg>
                              </div>
                           </a>
                           <a href="javascript:void(0)" class="mx-5">
                              <div aria-label="LinkedIn" role="img">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"
                                    fill="rgb(150, 162, 177)" class="feather feather-linkedin">
                                    <path
                                       d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z">
                                    </path>
                                 </svg>
                              </div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </dh-component>
</div>

<section class="" id="contact">
   <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8 lg:py-20">
      <div class="mb-4">
         <div class="mb-6 max-w-3xl text-center sm:text-center md:mx-auto md:mb-12">
            <p class="text-base font-semibold uppercase tracking-wide text-green-600 dark:text-green-400">
               Contact
            </p>
            <h2 class="font-heading mb-4 font-bold tracking-tight text-gray-800 text-3xl sm:text-5xl">
               Let's Talk!
            </h2>
            <p class="mx-auto mt-4 max-w-3xl text-xl text-gray-800 dark:text-slate-600">We'd love to hear from you.
            </p>
         </div>
      </div>
      <div class="flex items-stretch justify-center">
         <div class="grid md:grid-cols-2">
            <div class="h-full pr-6">
               <p class="mt-3 mb-12 text-lg text-gray-800">
                  We value your interest in exploring the world with <span class="text-green-600">TravelMate</span>. If
                  you have any questions, inquiries,
                  or would like to customize your dream travel experience, our dedicated team is here to assist you.
                  Feel free to reach out to us via the contact form below, and we'll get back to you as soon as
                  possible. Your journey begins with us, and we look forward to creating unforgettable memories
                  together. Safe travels!
               </p>
               <ul class="mb-6 md:mb-0">
                  <li class="flex">
                     <div class="flex h-10 w-10 items-center justify-center rounded bg-green-600 text-gray-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                           class="h-6 w-6">
                           <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                           <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z">
                           </path>
                        </svg>
                     </div>
                     <div class="ml-4 mb-4">
                        <h3 class="mb-2 text-lg font-medium leading-6 text-gray-800">Our Address
                        </h3>
                        <p class="text-gray-600 dark:text-slate-600">Philadelphia</p>
                        <p class="text-gray-600 dark:text-slate-600">Pennsylvania, United States</p>
                     </div>
                  </li>
                  <li class="flex">
                     <div class="flex h-10 w-10 items-center justify-center rounded bg-green-600 text-gray-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                           class="h-6 w-6">
                           <path
                              d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2">
                           </path>
                           <path d="M15 7a2 2 0 0 1 2 2"></path>
                           <path d="M15 3a6 6 0 0 1 6 6"></path>
                        </svg>
                     </div>
                     <div class="ml-4 mb-4">
                        <h3 class="mb-2 text-lg font-medium leading-6 text-gray-800">Contact
                        </h3>
                        <p class="text-gray-600 dark:text-slate-600">Mobile: +1 (215) 898-5000</p>
                        <p class="text-gray-600 dark:text-slate-600">Mail: customerservice@<a href="/"
                              class="text-green-600">travelmate</a>.com</p>
                     </div>
                  </li>
                  <li class="flex">
                     <div class="flex h-10 w-10 items-center justify-center rounded bg-green-600 text-gray-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                           class="h-6 w-6">
                           <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                           <path d="M12 7v5l3 3"></path>
                        </svg>
                     </div>
                     <div class="ml-4 mb-4">
                        <h3 class="mb-2 text-lg font-medium leading-6 text-gray-800">Working
                           hours</h3>
                        <p class="text-gray-600 dark:text-slate-600">Monday - Friday: 08:00 - 17:00</p>
                        <p class="text-gray-600 dark:text-slate-600">Saturday &amp; Sunday: 08:00 - 12:00</p>
                     </div>
                  </li>
               </ul>
            </div>
            <div class="card h-fit max-w-6xl p-5 md:p-12" id="form">
               <h2 class="mb-4 text-2xl font-bold">Ready to Get Started?</h2>
               <form id="contactForm">
                  <div class="mb-6">
                     <div class="mx-0 mb-1 sm:mb-4">
                        <div class="mx-0 mb-1 sm:mb-4">
                           <label for="name" class="pb-1 text-xs uppercase tracking-wider"></label><input type="text"
                              id="name" autocomplete="given-name" placeholder="Your name"
                              class="mb-2 w-full rounded-md border focus:ring-green-600 focus:border-green-600 border-gray-400 py-2 pl-2 pr-4 shadow-md dark:text-gray-300 sm:mb-0"
                              name="name">
                        </div>
                        <div class="mx-0 mb-1 sm:mb-4">
                           <label for="email" class="pb-1 text-xs uppercase tracking-wider"></label><input type="email"
                              id="email" autocomplete="email" placeholder="Your email address"
                              class="mb-2 w-full rounded-md border focus:ring-green-600 focus:border-green-600 border-gray-400 py-2 pl-2 pr-4 shadow-md dark:text-gray-300 sm:mb-0"
                              name="email">
                        </div>
                     </div>
                     <div class="mx-0 mb-1 sm:mb-4">
                        <label for="textarea" class="pb-1 text-xs uppercase tracking-wider"></label><textarea
                           id="textarea" name="textarea" cols="30" rows="5" placeholder="Write your message..."
                           class="mb-2 w-full rounded-md border focus:ring-green-600 focus:border-green-600 border-gray-400 py-2 pl-2 pr-4 shadow-md sm:mb-0"></textarea>
                     </div>
                  </div>
                  <div class="text-center">
                     <button type="submit"
                        class="w-full bg-green-600 text-white px-6 py-3 font-xl rounded-md hover:bg-green-500 sm:mb-0">Send Message
                     </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>