
<div id="sideBarId" class="sideBar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
  {{!-- <a href="javascript:void(0)" class="closebtn" onclick="togleNav()">&times;</a> --}}
  <a href="#"><span><i class="icon fa-solid fa-address-card"></i><span class="icon-text">Profile</span></a>
  <a href="#"><i class="icon fa-solid fa-pen-to-square"></i><span class="icon-text"></span>Create Tour</a></span>
  <a href="#"><i class="icon fa-solid fa-mountain-sun"></i><span class="icon-text"></span>Your Tours</a></span>
</div>

<article id="main" class="flex colums-2 flex-row">
  <section class="card flex colums-2 flex-row">
    <article class="card-s">
        <header class="form-header">Created Tours</header>
        {{!-- {{#}} --}}
    </article>
    <article class="card-s">
        <header class="form-header">Planned Tours</header>
    </article>
  </section>
  </section>
  <section class="right-bar"> <header class="form-header">Friends</header></section>
</article>
<script src="https://kit.fontawesome.com/99be4809d8.js" crossorigin="anonymous"></script>
<script src="/js/dashboard.js"></script>
