{{>left-sideBar}}

<article id="main" class="flex colums-2 flex-row">
  <section class="card flex colums-2 flex-row">
    <article class="card-s ">
        <header class="form-header">Created Tours</header>
        {{#each toursArr as |tour|}} {{>tour-small}} {{/each}}
    </article>
    <article class="card-s">
        <header class="form-header">Planned Tours</header>
        {{#each user.tours as |tour|}} {{>tour-small}} {{/each}}
    </article>
  </section>
  </section>
  <section class="right-bar"> <header class="form-header">Friends</header></section>
</article>
<script src="https://kit.fontawesome.com/99be4809d8.js" crossorigin="anonymous"></script>

<script src="/js/dashboard.js"></script>
