<link href="/css/output.css" rel="stylesheet">
<div class="relative overflow-hidden bg-cover bg-no-repeat p-12 text-center bg-gradient-to-r from-purple-600 to-blue-600 h-screen text-white overflow-hidden mt-16">
  <div class="absolute inset-0">
    <img src="https://i.natgeofe.com/n/737e4cbf-3d9e-4f89-b4b2-29b5cf303dba/01-best_pod_landscapes_16x9.jpg" alt="Background Image" class="object-cover object-center h-full w-full md:w-block lg:w-block" />
    <div class="absolute inset-0 bg-black opacity-50"></div>
  </div>
  
  <div class="relative z-10 flex flex-col justify-center items-center h-full text-center">
    {{!-- <h1 class="text-5xl font-bold leading-tight mb-4">TravelMate</h1> --}}
    <img class="main-logo" src="/assets/images/TravelMateLogo.png" alt="TravelMate logo">
    <p class="text-lg text-gray-300 mb-8 text-black">Your Journey, Your Way - Seamlessly Plan, Explore, and Cherish Every Mile.</p>
    <a href="/info" class="bg-yellow-400 text-gray-900 hover:bg-yellow-300 py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">Sign In</a>
  </div>
</div>
