<div
  class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat p-12 text-center"
  style="background-image: url('https://static.vecteezy.com/system/resources/previews/031/526/965/large_2x/a-beautiful-landscape-with-trees-and-water-lillies-ai-generated-free-photo.jpg'); height: 400px"></div>
