{{>left-sideBar}}

<main id="main" class="flex">
    {{#each}}
    <img id="im-l" class="mt-3" src="/assets/icons/{{icons.[0].name}}">
</main>
<script src="/js/icoList.js"></script>

{{!-- <img id="img" class="mt-3" src="/assets/icons/traveler.png"> --}}