<div class="sm:flex items-center max-w-screen-xl">
    <div class="sm:w-1/2 p-10">
        <div class="image object-center text-center">
            <img class="rounded-lg" src="https://terrostar.com/wp-content/uploads/2020/11/nov_blog_1_1145x744.jpg">
        </div>
    </div>
    <div class="sm:w-1/2 p-5">
        <div class="text">
            {{!-- <span class="text-gray-500 border-b-2 border-indigo-600 uppercase">About us</span> --}}
            <h2 class="my-4 font-bold text-3xl text-gray-800 sm:text-4xl ">About <span class="text-green-600">TravelMate</span>
            </h2>
            <p class="text-gray-800">
                At <span class="text-green-600">TravelMate</span>, we believe that every journey is an opportunity for adventure, discovery, and unforgettable experiences. 
                Our platform is designed to ignite your wanderlust, inspire your next trip, and connect you with like-minded explorers from around the globe. With <span class="text-green-600">TravelMate</span>, you can discover new destinations, share your travel stories, and create a community of passionate travelers who live for the thrill of exploration. 
                It's time to unleash your wanderlust and embark on a journey of a lifetime! Join us today and let the adventures begin!
            </p>
        </div>
    </div>
</div>

<div class="sm:w-full p">
    <h1 class="font-bold text-6xl  text-gray-800 sm:text-4xl text-center">Key Features</h1>
    <h5 class="my-4 font-bold text-3xl pb-5 mb-5 text-gray-800 sm:text-2xl text-center">Discover What <span class="text-green-600">TravelMate</span> Has to Offer
    </h5>
</div>

<div class="flex flex-row">
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg ml-10 shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="rounded-t-lg"
                src="https://images.unsplash.com/photo-1500835556837-99ac94a94552?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Travel Tips</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Share and discover insider travel tips from fellow adventurers.</p>
            {{!-- <a href="#"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-600 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a> --}}
        </div>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg ml-10 shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="rounded-t-lg"
                src="https://hips.hearstapps.com/hmg-prod/images/large-group-of-happy-friends-in-mountains-area-royalty-free-image-1653422631.jpg?crop=0.668xw:1.00xh;0.0609xw,0&resize=1200:*"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-800 dark:text-white">Collaborative Planning</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Plan your trips with friends and create unforgettable memories together.</p>
            {{!-- <a href="#"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a> --}}
        </div>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg ml-10 shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="rounded-t-lg"
                src="https://www.adobe.com/content/dam/cc/us/en/creativecloud/photography/discover/travel-photography/thumbnail.jpeg"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Adventure Insights</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Gain valuable insights and recommendations for your next adventure.</p>
            {{!-- <a href="#"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a> --}}
        </div>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg ml-10 shadow mr-10 dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="rounded-t-lg"
                src="https://explorerspassage.com/wp-content/uploads/2016/03/Mtn-snow-1.jpg"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Inspiring Stories</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Read and share inspiring travel stories that ignite your wanderlust.</p>
            <a href="/tours"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-600 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                Go to Tours
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
    </div>
</div>