<section
    class="bg-center bg-no-repeat p-12 bg-[url('https://www.wallpaperup.com/uploads/wallpapers/2013/12/10/191175/442a57082a73914f3a54b99ac8135938.jpg')] bg-gray-700 bg-blend-multiply">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">

        <div class="flex flex-wrap justify-center mb-6">
            {{#each memos as |memo|}}
            {{>memosCards}}
            {{/each}}
        </div>
        


    </div>
    </div>
</section>
