<!-- component -->
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 mt-6">
 

   <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <h1 class="mb-8 text-3xl text-center">Sign up</h1>
                <input id="name" "text" required class="block border border-grey-light w-full p-3 rounded mb-4" name="name"
                    placeholder="User Name" />

                <input id="email" type="text"required  class="block border border-grey-light w-full p-3 rounded mb-4" name="email"
                    placeholder="Email" />

                <input id="password" type="password" required class="block border border-grey-light w-full p-3 rounded mb-4" name="password"
                    placeholder="Password" />
                <input id="confPassword" type="password" required class="block border border-grey-light w-full p-3 rounded mb-4 signup-btn"
                    name="confirm_password" placeholder="Confirm Password" />

                <button id="signup-btn" type="submit"
                    class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 signup-btn">
                    Create Account</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Already have an Account?
      <a href="/login/" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Log In</a>
    </p>
  </div>
</div>
<script src="/js/signup.js"></script>
















