
<div role="status" class="m-7 space-y-8  md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
        <img class="w-64 h-64 text-gray-200 dark:text-gray-600"  src="{{tour.img_src}}"/>  
        
    
    <div class="w-full">
        <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4">{{tour.title}}</div>
        <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[480px] mb-2.5">{{tour.description}}</div>
        <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5">{{tour.text}}</div>
        <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[440px] mb-2.5"></div>
        <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[460px] mb-2.5"></div>
        <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px]"></div>
    </div>
    {{!-- <span class="sr-only">Loading...</span> --}}
</div>

