@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


#hidden {
    visibility: hidden;
}

#visible {
    visibility: visible;
}

/* Style for right sidebar at dashboard Screen */
.sideBar {
    height: 100%; 
    position: fixed; 
    top: 64px; 
    width: 85px;
    left: 0;
    background-color: #abac55; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    white-space: nowrap;
  }
  
  
.sideBar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sideBar a:hover {
    color: #f1f1f1;
}
  
.sideBar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
#main {
    transition: margin-left 0.5s;
    padding: 16px;
    margin-left: 85px;
    background-color: rgb(208, 237, 249);
  }

.icon,
.icon-text {
    vertical-align: middle;
}
.icon {
    padding-bottom: 3px;
    margin-right: 30px;
}

  @media screen and (max-height: 450px) {
    .sideBar {padding-top: 15px;}
    .sideBar a {font-size: 18px;}
  }

  /* Syle for card inside dashboard */

  .card{
    /* border: 2px black solid; */
    width: 100%;
    height: 100%;
    margin-top: 64px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 6px;
  }

  .card-s{
    background-color: white;
    border: 2px black solid;
    width: 100%;
    height: 400px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 6px;
  }

  .right-bar {
    background-color: white;
    height: 100vh;
    width: 250px;
    margin: 20px;
    margin-top: 64px;
    border: 2px black solid;
    border-radius: 6px;
  }

  .form-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color:azure;
    background-color: #abac55;
    font-size: 20px;
    padding: 5px;
  }

 /* style for small p element inside deshboard */
.card-s section{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.small-title {
  display: block;
  text-align: center;
  font-size: 20px;
  border: rgb(234 88 12) solid 2px;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  /* height: 36px;
  overflow-x: hidden; 
  transition: 0.5s; 
  white-space: nowrap; */
 }

 .main-logo {
  height: 400;
  width: 592px;
 }

 